body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  line-height: 1.5;
}

/* ссылки */
a {
  color: inherit;
  text-decoration: none;
}

/* утилиты */
.text-center {
  text-align: center;
}
